.activeFadeUp {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.activeFadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.activeFadeInLeftDelay300 {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
  animation-delay: 300ms;
  animation-fill-mode: both;
}

.activeFadeUpDelay300 {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-delay: 300ms;
  animation-fill-mode: both;
}

.activeFadeUpDelay400 {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-delay: 400ms;
  animation-fill-mode: both;
}

.activeFadeUpDelay500 {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-delay: 500ms;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 80px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(100px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
