//SPACING
$index: 10;
@while $index <= 300 {
  .mt-#{$index} {
    margin-top: #{$index}px;
  }
  .mb-#{$index} {
    margin-bottom: #{$index}px;
  }
  .pt-#{$index} {
    padding-top: #{$index}px;
  }
  .pb-#{$index} {
    padding-bottom: #{$index}px;
  }
  .ml-#{$index} {
    margin-left: #{$index}px;
  }
  .mr-#{$index} {
    margin-right: #{$index}px;
  }
  .pl-#{$index} {
    padding-left: #{$index}px;
  }
  .pr-#{$index} {
    padding-right: #{$index}px;
  }
  @media screen and (max-width: 1000px) {
    .mt-#{$index} {
      margin-top: #{$index / 2}px;
    }
    .mb-#{$index} {
      margin-bottom: #{$index / 2}px;
    }
    .pt-#{$index} {
      padding-top: #{$index / 2}px;
    }
    .pb-#{$index} {
      padding-bottom: #{$index / 2}px;
    }
    .ml-#{$index} {
      margin-left: #{$index / 2}px;
    }
    .mr-#{$index} {
      margin-right: #{$index / 2}px;
    }
    .pl-#{$index} {
      padding-left: #{$index / 2}px;
    }
    .pr-#{$index} {
      padding-right: #{$index / 2}px;
    }
  }
  $index: $index + 10;
}
