.italic {
  font-weight: italic;
}

.strong {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.font-weight-light {
  font-weight: 300;
}

.font-italic {
  font-style: italic;
}

.font-weight-medium {
  font-weight: 600;
}

.font-weight-regular {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 800;
}

.headline1 {
  font-size: 47px;
  font-weight: 500;
  line-height: 60px;
  &--thin {
    font-weight: 300;
  }
  @media screen and (max-width: 600px) {
    font-size: 33px;
    line-height: 40px;
  }
}

.headline2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  &--thin {
    font-weight: 300;
  }
  @media screen and (max-width: 600px) {
    font-size: 26px;
    line-height: 34px;
  }
}

.headline3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  @media screen and (max-width: 600px) {
    font-size: 17px;
    line-height: 25px;
  }
}
